:root,
[data-bs-theme='light'] {
  --bs-primary: #343a40;
  --bs-primary-rgb: 52, 58, 64;

  --bs-secondary: #ffffff;
  --bs-secondary-rgb: 255, 255, 255;

  --bs-body-bg: var(--bs-secondary);
  --bs-body-color: #212529;

  --bs-danger: #f73a3a;
  --bs-info: #091d64;
}

[data-bs-theme='dark'] {
  --bs-primary: #000000;
  --bs-secondary: #343a40;
  --bs-body-bg: var(--bs-secondary);
  --bs-body-color: #f8f9fa;

  --bs-danger: #f73a3a;
  --bs-info: #1e3ba5;
}

@font-face {
  src: url('/assets/fonts/tektur/Tektur-Regular.ttf') format('truetype');
  font-family: 'Tektur';
  font-weight: 400;
}

@font-face {
  src: url('/assets/fonts/tektur/Tektur-SemiBold.ttf') format('truetype');
  font-family: 'Tektur';
  font-weight: 600;
}

@font-face {
  src: url('/assets/fonts/tektur/Tektur-Bold.ttf') format('truetype');
  font-family: 'Tektur';
  font-weight: 700;
}

h1,
h2,
h3,
.navbar-brand {
  font-family: 'Tektur', sans-serif;
  font-weight: 700;
}

[data-bs-theme='dark'] .card {
  background-color: #1b1b1b;
  color: #fff;
}

[data-bs-theme='dark'] .list-group-item {
  background-color: #1b1b1b;
  color: #fff;
}

[data-bs-theme='dark'] .bg-primary {
  background-color: #000 !important;
}
